<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Allow POST requests
    <Limit POST>
        Allow from all
    </Limit>
    
    # Allow OPTIONS
    <Limit OPTIONS>
        Allow from all
    </Limit>
</IfModule>

<IfModule mod_php7.c>
    AddType application/x-httpd-php .php
</IfModule>
